.text-body-secondary img{border-radius: 5px;
    border:  rgb(108, 155, 207);
     border-color:rgb(108, 155, 207) ;
     border-style: groove;
 
 }
 .mb-3 {
    text-decoration: underline;}
    footer{
        background-color:  rgb(101, 78, 146);
        position: relative;
        bottom: 0;
    }